/* Layout styling */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 0 15px;
  font-weight: bold;
  transition: transform 0.3s;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
  transform: scale(1.05);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

/* Shopping-list page */

#shopping-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

#shopping-container li {
  width: 250px;
  padding: .8em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2em;
  background-color: #f5f6fc;
}

/* Recipes page */

.flex-recipes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 100%;
}

#recipes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin-top: 20px;
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 250px;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.recipe-details {
  padding: 0 15px 15px 15px;
  text-align: center;
}

.recipe-details h3 {
  margin: 10px 0px;
}

.recipe-details a {
  display: inline-block;
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.recipe-details a:hover {
  background-color: #555;
}

#form-container {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

#recipe-search {
  padding: 8px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Button styling */

button {
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Dish page */
.dish-details-container {
  text-align: center;
  margin: 20px;
}

.dish-details {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: auto;
}

.dish-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  background: transparent url("../images/dish.jpg") center no-repeat;
  background-size: cover;
}

.dish-details h3 {
  margin-bottom: 10px;
}

.dish-details h4 {
  margin-top: 10px;
  padding-left: 10px;
}

.dish-details ul {
  list-style: inside;
  padding: 0;
}

.dish-details ul li {
  margin-bottom: 5px;
}

.dish-details p {
  padding: 15px;
  text-align: justify;
}

.ingredients-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}