<h1>Welcome Recipe App</h1>

<p>The directory structure for your platformOS page has been created. You are all set to edit the files.</p>

<p>If you are new to platformOS you might consider following our <a href="https://documentation.platformos.com/get-started">Get Started</a> guide that will walk you through all the knowledge required to start developing a page on platformOS.</p>

<a href="https://platformos.com" class="logo">
  <img src="{{ 'images/logo.svg' | asset_url }}" width="200" height="29" alt="platformOS">
</a>
