<h1>Welcome to our Recipe App!</h1>

<p>It's a basic recipe application with a Shopping list page where items can be stored in a list by name, along with a Recipes page where all of the dishes are displayed and can be opened in a new page for more information (recipe, ingredients, etc.).</p>