<h2>Recipes</h2>

<!-- Search form -->
<form id="form-container">
  <input
    type="text"
    id="recipe-search"
    placeholder="Search by recipe name">
  <button type="submit">Search</button>
</form>

<!-- Add new recipe form -->
<form
  action="create"
  method="post"
  id="form-container">
  <input
    type="text"
    name="name"
    id="recipe-search"
    placeholder="Title">
  <input
    type="text"
    name="image"
    id="recipe-search"
    placeholder="Image">
  <input
    type="text"
    name="description"
    id="recipe-search"
    placeholder="Description">
  <input
    type="text"
    name="ingredients"
    id="recipe-search"
    placeholder="Ingredients">
  <button type="submit">Add Recipe</button>
</form>


<!-- Recipe cards -->
<div id="recipes-container">
  {% for recipe in recipes.data.results %}
    <div class="recipe-card">
      <img src="{{ recipe.img_url }}" alt="{{ recipe.name }}" class="recipe-image">
      <div class="recipe-details">
        <h3>{{ recipe.name }}</h3>
        <a href="/view_dish/{{ recipe.id }}">Show More</a>
      </div>
    </div>
  {% endfor %}
</div>

{% comment %} <div id="recipes-container">
  <div class="recipe-card">
    <img class="recipe-image">
    <div class="recipe-details">
      <h3>Title</h3>
      <a href="/recipes/dish">Show More</a>
    </div>
  </div>
  <div class="recipe-card">
    <img class="recipe-image">
    <div class="recipe-details">
      <h3>Title</h3>
      <a href="/recipes/dish">Show More</a>
    </div>
  </div>
  <div class="recipe-card">
    <img class="recipe-image">
    <div class="recipe-details">
      <h3>Title</h3>
      <a href="/recipes/dish">Show More</a>
    </div>
  </div>
</div> {% endcomment %}