<h2>Recipes</h2>

<form id="form-container">
  <input
    type="text"
    id="recipe-search"
    placeholder="Search by recipe name">
  <button type="submit">Search</button>
</form>

<!-- form for adding new recipe -->
<form
  action="create"
  method="post"
  id="form-container">
  <input
    type="text"
    name="name"
    id="recipe-search"
    placeholder="Title">
  <input
    type="text"
    name="image"
    id="recipe-search"
    placeholder="Image">
  <input
    type="text"
    name="description"
    id="recipe-search"
    placeholder="Description">
  <input
    type="text"
    name="ingredients"
    id="recipe-search"
    placeholder="Ingredients">
  <button type="submit">Add Recipe</button>
</form>

<div id="recipes-container">
  <div class="recipe-card">
    <img class="recipe-image">
    <div class="recipe-details">
      <h3>Title</h3>
      <a href="/recipes/dish">Show More</a>
    </div>
  </div>
  <div class="recipe-card">
    <img class="recipe-image">
    <div class="recipe-details">
      <h3>Title</h3>
      <a href="/recipes/dish">Show More</a>
    </div>
  </div>
  <div class="recipe-card">
    <img class="recipe-image">
    <div class="recipe-details">
      <h3>Title</h3>
      <a href="/recipes/dish">Show More</a>
    </div>
  </div>
</div>