<h2>Recipes</h2>

<form id="form-container">
  <input
    type="text"
    id="recipe-search"
    placeholder="Search by recipe name">
  <button onclick="">Search</button>
  {% comment %} <button onclick="">Add Recipe</button> {% endcomment %}
</form>


<div id="recipes-container">
  <div class="recipe-card">
    <img class="recipe-image">
    <div class="recipe-details">
      <h3>Title</h3>
      <a href="/recipes/dish">Show More</a>
    </div>
  </div>
  <div class="recipe-card">
    <img class="recipe-image">
    <div class="recipe-details">
      <h3>Title</h3>
      <a href="/recipes/dish">Show More</a>
    </div>
  </div>
  <div class="recipe-card">
    <img class="recipe-image">
    <div class="recipe-details">
      <h3>Title</h3>
      <a href="/recipes/dish">Show More</a>
    </div>
  </div>
</div>