<h2>Shopping List</h2>

{% liquid
  graphql items = 'item/search'
%}

<!-- List of ingredients -->
<ul>
  {% for item in items.records.results %}
    <li>
      {{ item.title }}
      <form action="/item/delete" method="post">
        <input
          type="hidden"
          name="id"
          value="{{ item.id }}">
        <button type="submit">Mark as done</button>
      </form>
    </li>
  {% endfor %}
</ul>

<!-- Error when the list is empty -->
{% if items.records.total_entries == 0 %}
  <div>There are no items in the list.</div>
{% endif %}

<!-- Form for adding new item -->
<form
  action="/item/create"
  method="post"
  id="form-container">
  <input
    type="text"
    name="title"
    placeholder="Add ingredients here">
  <button type="submit">Add item</button>
</form>

{% comment %} <div id="shopping-container">
  <ul>
    <li>
      Ingredient 1
      <button type="submit">Mark as done</button>
    </li>
    <li>
      Ingredient 2
      <button type="submit">Mark as done</button>
    </li>
    <li>
      Ingredient 3
      <button type="submit">Mark as done</button>
    </li>
    <li>
      Ingredient 4
      <button type="submit">Mark as done</button>
    </li>
    <li>
      Ingredient 5
      <button type="submit">Mark as done</button>
    </li>
  </ul>
</div> {% endcomment %}